{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NFT Creator</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="area noselect" >
        <div class="context">
            <h1>Get Your NFT Images</h1>
        </div>
        <div class="container">
            <div class="box">
                <h1>Click to Download your NFT Images<h1><br>
                <button class="upload-button"><a href = "{{ MEDIA_URL }}{{ upload_id }}.zip" download = "NFTfiles.zip">Download&nbsp&nbsp😎</a></button>
            </div>
            <div class="upload-box">
                <br><a class="home" href = "/creator/add">🏠&nbsp&nbspBack to Home Page&nbsp&nbsp🏠</a>
            </div>
        </div>
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div >
</body>
</html>